# .vscode/**
# .vscode-test/**
# src/**
# .gitignore
# .yarnrc
# vsc-extension-quickstart.md
# **/tsconfig.json
# **/eslint.config.mjs
# **/*.map
# **/*.ts
# **/.vscode-test.*



.vscode/**
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/.vscode-test.*
testData/**
# 排除ts源码，但保留webview静态html资源
src/**/*.ts
src/test/**
!src/webview/**/*
!src/tools/**/fragment.html
!src/tools/**/client.js

# pnpm环境：vsce-pnpm(默认依赖解析模式)只会把生产依赖加入打包列表，node_modules无需排除
